<%= form_for @line do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.collection_check_boxes :station_ids, Station.all, :id, :name %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
